*{
  margin:0;
  padding:0;
  border:0;
  box-sizing:border-box;
}

header{
  background:#1fa3ef;
}

h1{
  color:#fff;
  padding:10px;
}

nav{
  text-align:center;
}

nav ul li{
  display:inline-block;
}